/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

:root {
  --text: #f8f9fa;
  --bg: #333333;
  --hover: #bcbcbc;
}

body {
  background: var(--bg);
  margin: 0;
  font-family: "Poppins";
  color: var(--text);
  overflow: auto;
}
header {
  background: var(--bg);
  margin-left: 85px;
  margin-bottom: 50px;
  display: flex;
} 
header li {
  list-style-type: none;
  float: left;
  max-width: 1400px;
  margin: 0px;
  padding-left: 50px;
}
header a {
  color: var(--text);
  text-decoration: none;
}
header a:hover {
  color: var(--hover);
}

/* Small screen */
@media screen and (max-width: 1000px) {
  header li {
    list-style-type: none;
    float: left;
    max-width: 1400px;
    margin: 0px;
    padding-left: 50px;
  }
}

/* homepage */
.home {
  display: grid;
  grid-template-columns: 1fr;
}

.home .container {
  position: relative;
  margin: 0px auto;
  margin-bottom: 20px;
}

.home .container .icon {
  height: 45px;
  width: 45px;
  margin: 5px 5px;
  fill: currentColor;
}

.home .container a:hover .icon {
  fill: var(--hover);
}

.home a {
  color: inherit;  
}

.pfp {
  border-radius: 50%;
  /* border: solid 3px rgba(0, 0, 0, 0.2); */
  box-shadow: inset 20px 20px 0px 0px #DBA632;
}

.home blockquote {
  max-width: 400px;
  text-align: center;
}

.home a:link {
  text-decoration: none;
}

.home a:visited {
  text-decoration: none;
}

.home a:hover {
  text-decoration: none;
}

.home a:active {
  text-decoration: none;
}