/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

:root {
  --text: #f8f9fa;
  --bg: #333333;
  --hover: #bcbcbc;
}

body {
  background: var(--bg);
  margin: 0;
  font-family: "Poppins";
  color: var(--text);
  overflow: auto;
}
header {
  background: var(--bg);
  margin: 0px 85px 50px 85px;
  padding: 10px;
  display: flex;
} 
header ul {
  padding: 0px;
  margin: 0px;
}
header li {
  list-style-type: none;
  float: left;
  max-width: 1400px;
  margin: 0px;
  padding: 0px 25px;
}
header a {
  color: var(--text);
  text-decoration: none;
}
header a:hover {
  color: var(--hover);
}

/* homepage */
.home {
  display: grid;
  grid-template-columns: 1fr;
}

.home .container {
  position: relative;
  margin: 0px auto;
  margin-bottom: 30px;
}

.home .container .icon {
  height: 45px;
  width: 45px;
  margin: 5px 5px;
  fill: currentColor;
}

.home .container a:hover .icon {
  fill: var(--hover);
}

.home a {
  color: inherit;  
}

.pfp {
  border-radius: 50%;
  height: 300px
}

.home blockquote {
  max-width: 400px;
  text-align: center;
}

/* Small screen */
@media screen and (max-width: 700px) {
  header {
    margin: 0px 30px 25px 30px;
    justify-content: center;
  } 
  header li {
    padding: 0px 20px;
  }

  .home {
    display: grid;
    grid-template-columns: 1fr;
  }
  
  .home .container {
    position: relative;
    margin: 0px auto;
    margin-bottom: 10px;
  }
  
  .home .container .icon {
    height: 45px;
    width: 45px;
    margin: 5px 5px;
    fill: currentColor;
  }

  .pfp {
    border-radius: 50%;
    height: 200px
  }
}



.home a:link {
  text-decoration: none;
}

.home a:visited {
  text-decoration: none;
}

.home a:hover {
  text-decoration: none;
}

.home a:active {
  text-decoration: none;
}